<!DOCTYPE configuration>
<configuration>
  <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/access_log.access</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>logs/access_log.%i.access.gz</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>2</maxIndex>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>50MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <charset>UTF-8</charset>
      <pattern>%h %l %u [%t] "%r" %s %b "%header{Referer}" "%header{User-Agent}" Korrelasjonsid=%header{Korrelasjonsid} spanId=%header{X-B3-SpanId} traceId=%header{X-B3-TraceId} parentId=%header{X-B3-ParentSpanId} sampled=%header{X-B3-Sampled} tidBruktMs=%D</pattern>
    </encoder>
  </appender>
  <appender-ref ref="ROLLING" />
</configuration>